<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%- model_class = Product -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="row">
  <div class="col-md-3">
    <dl class="dl-horizontal">
      <dt><strong><%= model_class.human_attribute_name(:company) %>:</strong></dt>
      <dd><%= @product.company %></dd>
      <dt><strong><%= model_class.human_attribute_name(:processor) %>:</strong></dt>
      <dd><%= @product.processor %></dd>
      <dt><strong><%= model_class.human_attribute_name(:screen_size) %>:</strong></dt>
      <dd><%= @product.screen_size %></dd>
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @product.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:memory) %>:</strong></dt>
      <dd><%= @product.memory %></dd>
      <dt><strong><%= model_class.human_attribute_name(:camera) %>:</strong></dt>
      <dd><%= @product.camera %></dd>
      <dt><strong><%= model_class.human_attribute_name(:battery) %>:</strong></dt>
      <dd><%= @product.battery %></dd>
      <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
      <dd><%= @product.price %></dd>
    </dl>
  </div>
  <div class="col-md-6">
    <% unless @product.img_url.nil? %>
        <img src=<%= @product.img_url %>>
    <% end %>
  </div>
</div>
<%= link_to t('.back', :default => t("helpers.links.back")),
            products_path, :class => 'btn btn-default' %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_product_path(@product), :class => 'btn btn-default' %>
<%= link_to t('.Write a Review'), new_user_review_path(:product_id => @product.id), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            product_path(@product),
            :method => 'delete',
            :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
            :class => 'btn btn-danger' %>

<%= render 'user_reviews/index', :reviews => @product.user_reviews.sort_by { |r| r.created_at }.reverse! %>

<div class="btn-group like-want-buttons" role="group">
  <%= link_to t('.I have it!', 'button-value' => "have"), likes_create_possession_path(:product_id => @product.id, :user_id => current_user.id), :method => 'post', :class => 'btn btn-primary', :remote => true %>
  <p class="have-count"><%= @product.havers.count %></p>
  <%= link_to t('.I want it!', 'button-value' => "like"), likes_create_like_path(:product_id => @product.id, :user_id => current_user.id), :method => 'post', :class => 'btn btn-primary', :remote => true %>
  <p class="like-count"><%= @product.likers.count %></p>
</div>

<div class="analytics">
  <h1>Analytics</h1>
  <%= line_chart(@product.analytics_stats.collect { |a| {a.date => a.like_count} }.inject(:merge), {library: {pointSize: 0, hAxis: {title: "Timeline"}, vAxis: {title: "Users that Like"}}}) %>
  <%= line_chart(@product.analytics_stats.collect { |a| {a.date => a.have_count} }.inject(:merge), {library: {pointSize: 0, hAxis: {title: "Timeline"}, vAxis: {title: "Users that have"}}}) %>
  <%= line_chart(@product.analytics_stats.collect { |a| {a.date => a.price} }.inject(:merge), {library: {pointSize: 0, hAxis: {title: "Timeline"}, vAxis: {title: "Price"}}}) %>
</div>